<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>FinTrack Pro - Expense Tracker</display-name>
    <servlet>
        <servlet-name>AddExpenseServlet</servlet-name>
        <servlet-class>com.fintrack.servlet.AddExpenseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddExpenseServlet</servlet-name>
        <url-pattern>/addExpense</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewExpensesServlet</servlet-name>
        <servlet-class>com.fintrack.servlet.ViewExpensesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewExpensesServlet</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AnalyzeServlet</servlet-name>
        <servlet-class>com.fintrack.servlet.AnalyzeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnalyzeServlet</servlet-name>
        <url-pattern>/analyze</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>